
<div class="flex items-end">
  <div class="max-w-5xl pr-5">
    <div class="relative mt-5 mb-0">
      <h2 class="font-light text-4xl -tracking-wider mt-0 mb-8 mx-0">
        <span class="text-[1.5em]">My name is Tom and I work in web development.</span>
      </h2>
      <h4 class="leading-7 text-base mt-0 mb-4 mx-0">
        <span class="opacity-60">Here is a portfolio of my recent work.</span>
      </h4>
    </div>
  </div>
</div>
